$btnGreen:#16a882;

.form-wrapper {
    border: solid 1px #efefef;
}

.form-control {
    border-color: #e4e4e4;
    font-size: 14px;
    &:focus {
        outline: none;
        box-shadow: 0 0 0 !important;
        border-color: $btnGreen !important;
    }
}

label {font-size: 13px;}

.btn{border-radius: 2px !important;}

.btn-primary{
    background: $btnGreen;
    border: $btnGreen;
    &:hover, &:focus, &:active {
        background: $btnGreen !important;
        outline: none;
        border-color: $btnGreen !important;
        box-shadow: 0 0 0 !important;
    }
}

.auth-holder{
    max-width: 400px;
    min-width: 260px;
    width: calc(300px + ((100vw - 300px)/100)*(500px - 300px) );
    margin: 0rem 2rem;
}


.article-form {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 0;
    border: 1px #e5e5e5 solid;
    resize: none;
    padding: 10px 15px;
    &:focus{
        outline: none;
    }
}

.body-field {
    min-height: 250px;
}

.title-field {
    font-size: 20px;
    text-transform: capitalize;
}