#login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	form {
		max-width: 500px;
		width: 100%;
		.form-group {
			margin: 3rem 0rem 0rem 0rem;
			label {
				display: block;
				text-align: center;
			}
			input {
				border: none;
				border-bottom: solid 1px $greyish;
				border-radius: 0;
				color: grey;
				&:active,
				&:hover,
				&:focus {
					box-shadow: 3px 3px 0 0 black;
					color: black;
				}
			}
		}
		button {
			margin: 2rem 0rem;
			background: black;
			border-radius: 0;
			border-color: unset;
			float: right;
			&:active,
			&:hover,
			&:focus {
				box-shadow: 3px 3px 0 0 black;
			}
		}
	}
}
