$btnGreen:#16a882;

header {
	border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
	background: white;
	padding: 6px 0;
	position: sticky;
	top: 0;
	z-index: 9999999;
}

.search {
    border: solid 1px #dedddd;
    font-size: 15px;
    min-width: 250px;
    min-height: 39px;
    border-radius: 2px;
    padding-left: 13px;
    margin-left: 30px;
}

.header-icons {
	margin-left: 30px;
	li{
		a{color: #525252;
			svg{
				width: 24px;
			}
		}
	}
}