
header {
	border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
	background: white;
	padding: 6px 0;
	position: sticky;
	top: 0;
	z-index: 9999999;
}

.search {
    border: solid 1px #dedddd;
    font-size: 15px;
    min-width: 250px;
    min-height: 39px;
    border-radius: 2px;
    padding-left: 13px;
    margin-left: 30px;
}

.header-icons {
	margin-left: 30px;
	li{
		a{color: #525252;
			svg{
				width: 24px;
			}
		}
	}
}
.navbar-nav {
	flex-direction: row;
}
.highlight-hover{
	&:hover{
		background: transparentize($color: green, $amount: .9);
	}
}

.user-menu a:hover + .dropdown-menus, .dropdown-menus:hover {
    opacity: 1;
    transition: all 0.3s;
    transform: translateY(0);
}


.dropdown-menus {
    position: absolute;
    background: #fff;
    max-width: 150px;
    width: 200px;
    right: 0;
    text-align: left;
	border: solid 1px #efefef;
	opacity: 0;
	transform: translateY(10px);
	transition: all 0.3s;
	top: 53px;
	padding: .5rem 0rem !important;
    border-bottom: solid 2px #16a981;
	li {
		a{
			display: block;
			padding: 6px 6px;
			font-size: 14px;
			font-family: 'Ubuntu', sans-serif;
			&:hover {
				text-decoration: none;
			}
		}
	}
}